@media screen and (max-width:667px) {
    .text-cabeçalho {
        height: 5px;

    }

    .texto-cabeçalho {
        height: 110px;

    }

    .faixa1-imagem{
     left: 50px;
     width: 483px;
    
    }
    .faixa1-texto{
     margin-left: 160px;
     margin-top: -250px;
     
        
    }

    .bloco1{
     margin-top: -255px;
     margin-left: -14px;
     width: 700px;




    }

    .bloco2{
    width: 500px;
    height: -150em;
    margin-top: -35px;
    margin-left: -655px;
    display: flex;
    align-items: center;
    top: 5px;

     

    }

    .faixa3{
        padding-top: 600px;


    }
    

    .bloco3{
     
    margin-top: -25em;
    margin-right:-450px;
    width: -10px;
    height: -10px;

    }

    .bloco4-titulo{
     margin-top: -23em;
     margin-left: 20px;
     align-items: center;
     padding-left: -100px ;



    }

    .faixa4{
        padding-top: 900px;


    }

    .img-div1{
     margin: 20px;
     margin-top: -100px;


    }

 
    .titulo5{
     margin-top: -380px;
      margin-left: 50px;

    }

    .imagem-5{
        margin: -50px;
        margin-top: -100px;
        margin-left: -190px;
        height: 185px;
        width: 350px;


    }

    p{
        margin-left: 50px;
        margin: 10px;
        margin-right: 15px;
        
        

    }
    .faixa8, .faixa5, .faixa6 , .faixa7{
        padding-top: 300px;


    }
    
    .imagem-6{
       
        margin: -50px;
        margin-top: -90px;
        margin-left: -190px;
        height: 185px;
        width: 350px;


    }

    .rodape{
      padding-top: 800px;
      

    }

    .bloco1-rodape{
     padding-top: 2px 2px 2px 2px;
     margin-left: -50px;
     width: 1950px;
     margin-top: -1170px;
     text-align: center;
     align-items: center;
     margin-right: -1px;

     
    }

   
    .bloco2-rodape{
     color: black;
    
     
     
    }

    .bloco2-img{
       margin-top: 265px;
       margin-left: -378px;
    }
    .nome{
     margin: -250px; 
     align-items: center;
     margin-top: -350px;
     margin-left: -370px;
     margin: -1;
  
    }

    .div2{
        margin-top: -40em ;
        margin-left: -300px;
        width: -100px;
        height: -100px;
        display: block;


    }
    .div1{
        margin-top: -80em ;
        margin-left: -300px;
        width: -100px;
        height: -100px;
   
       }

       .div3{
        margin-top: -10em ;
        margin-left: -900px;
        width: -100px;
        height: -100px;
        display: block;



       }
 
       .text-div1{
        margin-top: -150px;
        margin-left: 278px;
   
   
       }

       .text-div2{
        margin-top: -150px;
        margin-right: 278px;
       }

       .text-div3{
        margin-top: -150px;
        margin-left: 278px;
            

       }

   


    

}