.pai{
    
    .main{
        display: flex;
        flex-direction: column;
        background-color: #252048;
        width: 70%;
        height: auto;
        justify-content: flex-start;
       
    }
    
    .cab{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        align-items: center;
    }

    .agendarpedido{
        font-family: 'font5';
        font-size: 2em;

    }

    .divagendarpedido{
        margin-right: 10em;
    }

    .fonte{
        font-family: 'font6';
    }

    .img-1{
        height: 40px;
        width: 40px;
    }

    .posicionamento{
        width: 51%;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .imput{
        height: 25px;
        width: 80em;
    }
    
    h1{
        font-family: 'inter-Bold';
        font-size: 20px;
    }
    
    label{
        font-size: 15px;
        color: #ffffff;
    
    }
    
    .f1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .p1{
        display: flex;
        flex-direction: column;
    }
    .p2{
        display: flex;
        flex-direction: row;
    }
    
    .imp{
        display: flex;
        flex-direction: column;
        margin: 0px 6px;
    }
    
    h2{
        font-size: 15px;
        color: #ffffff;
        margin: 0px 6px;
    }
    
    .txtarea{
        margin: 10px 9px;
        height: 14em;
        width: 34em;
    }
    
    .imp2{
        margin: 20px;
        font-family: 'font6';
    }
    
    .but{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 81px;
    }
    
    .salvar{
        font-size: 15px;
        display: flow-root;
        height: 63px;
        width: 53px;
    }
    
     div{
        margin: 5px 0px;
    }
    
    .pos1{
        width:43% ;
    }
    
    .pos2{
        width: 55%;
    }
    .pos3{
        width: 24%;
    }

    .pos_endereco{
        width: 99%;
    }

    .pos4{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: -1em;
    }

    .pos45 {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: -1em;
    }

    .pos5{
        width: 10em;
        height: 25px;
    }

    .pos6{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: -6.5em;
    }

    .sapo{
        width: 10px;
        height: 25px;
    }

    .total{
        font-family: 'font6';
    }

    .div-but{
        display: flex;
        justify-content: flex-end;      
        background-color: #252048;
        width: 100%;
        height:100%
  
    }

    .but-1{
        padding-right: 0px;
        font-family: 'font5';
        font-size: 14px;
        
    }

    .but-2{
        font-family: 'font5';
        font-size: 14px;
        
    }

    button{
        border: none;
        width: 60px;
        height: 30px;
    }
    
    .placa{
        text-transform: uppercase;
    }

@media screen and (max-width:667px) {

        .responsivo{
            margin: 0px 9px;
            height: 8em;
            width: 15em;
        
        }
        .responsivo2 {
            margin: 0px 9px;
            height: 8em;
            width: 14em;
        
        }
        .responsivo-3{
            width: 51%;
            margin-left: 63px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        
        }
    
    }

}