.pai{

    body{
        background-color: #252048;
        
        
        }
        .fundo{
        background-color: white;
        margin-top: -30px;
        height: 100px;
        
        }
        .img-1{
        width: 50px;
        height: 50px;
        margin: auto;
        margin-top: 50px;
        
        }
        .tex-1{
        margin-left: 500px;
        margin-top: -50px;
        
        
        }
        
        .img-2{
        width: 25px;
        margin-top: 30px;
        height: 25px;
        
        
        
        }
        
        .tabl{
        background-color: white;
        height:609px;
        width: 1270px;
        
        }
        
        table{
        border:black solid 1px ;
        margin-left: 500px;
        margin-top: 20px;
        
        }
        th,td{
            border:black solid 1px ;
             border-collapse: collapse;
        
        }
        
        td{
        padding: 8px;
        
        }
        


}