.pai{
    position: relative;
    z-index: 1;

    display:flex;
    justify-content:center;

    
    align-items: center;
    width:100%;

    .pagina{
        padding: top 0px;
            
    }
    .header{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 60px;
        padding-top: 20px;
        height: 2%;
        width: 99%;
        border-radius: 20px;
        margin-top: -519px;
        
    }

    .cabecalho{
        height:auto;
        display: flex;
        align-items: center;
        width:100%
    }

    .titulo{
        font-size: 2.5em;
        color:black;
        margin-top: 66px;
        justify-content: center;
    }
    
    .tabela{
        background-color: white;
        margin-top: 30px;
        width:100%;
        height:auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97%;
        border-radius: 5px;
    }

    table{
        padding-bottom:0px;
        width:100%;
        border: 1px  solid black;
        height:100%;

    }

    tbody > tr{
        height: 4em;
    }

    td{
        border: 1px  solid black;
        text-align: center;
    }

    th{
        border: 1px  solid black;
        background-color: gray;
    }

    .barra-pesquisa{
        width:60em;
        margin-top: 30px;
        height: 40px;
        font-size:20px
    }

    ::placeholder{
        padding-left: 10px;
        font-size: 16px;
       color:gray
    }
    .img-t{
        width: 35px;
        height: 35px;
        margin-left: -1005px;
        margin-top: 49px;
     }
 .x{
    width: 18px;
    cursor: pointer;
    visibility: visible;
 }
 .lupa{
    width: 28px;
    height: 28px;
    margin-left: 1em;
    cursor: pointer;
 }

}