@font-face {
    font-family: 'font1';
    src: url('../assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'font2' ;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'font3' ;
    src: url('../assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'font4' ;
    src: url('../assets/fonts/Recursive_Monospace-ExtraBold.ttf');
}
* {
    box-sizing: border-box;
    margin: 0px;
}

a, a:link, a:visited, a:active {

        text-decoration: none;
        display: inline-block;
        color: inherit;
}

